<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">	

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.application.soms.member.dto.MemberDTO" alias="MemberDTO" />
		<typeAlias type="com.application.soms.goods.dto.GoodsDTO" alias="GoodsDTO" />
		<typeAlias type="com.application.soms.goods.dto.ReplyDTO" alias="ReplyDTO" />
		<typeAlias type="com.application.soms.goods.dto.GoodsBatchDTO" alias="GoodsBatchDTO" />
		<typeAlias type="com.application.soms.admin.member.dto.AdminMemberDTO" alias="AdminMemberDTO" />
		<typeAlias type="com.application.soms.payment.dto.PaymentDTO" alias="PaymentDTO" />
		<typeAlias type="com.application.soms.contact.dto.ContactDTO" alias="ContactDTO" />
	</typeAliases>


</configuration>